.calculator-container {
  position: absolute;
  right: 2em;
  width: 20em;
  margin: 0 auto;
}

.calculator-content {
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}

.backdrop-blur {
  background-color: rgba(255, 255, 255, .65);
}

/* if backdrop support: transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(6x)) or (backdrop-filter: blur(6px))) {
  .backdrop-blur {
    -webkit-backdrop-filter: blur(6px);
    background: transparent;
    backdrop-filter: blur(6px);
  }
}

.calculator-form {
  padding-top: 4em;
  padding-bottom: 1em;
  width: 72%;
  overflow: hidden;
  margin-left: 3.5em;
}

.form-group {
  margin-bottom: 2em;
  overflow: hidden;
}

.target-icon {
  width: 1.5em;
  height: 1.5em;
  padding-top: 0.3em;
  position: absolute;
  cursor: pointer;
}

.calculator-control {
  background: transparent;
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  box-sizing: border-box;
}

.calculator-control::-webkit-input-placeholder {
  color: #999;
}

.calculator-control:-moz-placeholder {
  color: #999;
}

.calculator-control -ms-input-placeholder {
  color: #999;
}

.calculator-control -moz-placeholder {
  color: #999;
}

.calculator-control focus {
  border-bottom: 1px solid #222;
}

.calculator-control focus::-webkit-input-placeholder {
  color: #222;
}

.calculator-control focus::-moz-placeholder {
  color: #222;
}

.calculator-control focus:-ms-input-placeholder {
  color: #222;
}

.calculator-control focus:-moz-placeholder {
  color: #222;
}

.calculator-control {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}

.calculator-control:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-button {
  height: 3em;
  width: 8em;
  border: 1px;
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.2);
  cursor: pointer;
}

select:invalid {
  color: #999 !important;
}

span {
  padding: 1rem;
  font-size: 0.5rem;
}
