<script src="calculator.component.ts"></script>
<div class="calculator-container">
  <div class="calculator-content backdrop-blur">
    <div class="calculator-form">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="form-group">
          <select [required]="true" class="calculator-control" formControlName="placeType">
            <option value="" [disabled]="true" [selected]="true" [hidden]="true">Select place type</option>
            <option value="city">City</option>
            <option value="county">County</option>
            <option value="state">State</option>
            <option value="country">Country</option>
            <option value="q">Any...</option>
          </select>
        </div>
        <div class="form-group">
          <input #placeName type="text" class="calculator-control" formControlName="placeName" placeholder="Place name or coordinates" autocomplete="off" [required]="true"/>
        </div>
        <div class="form-group">
          <input #number type="number" class="calculator-control" formControlName="number" placeholder="Number of events" autocomplete="off" [required]="true"/>
        </div>
        <div class="form-group">
          <input #radius type="number" class="calculator-control" formControlName="radius" placeholder="Radius of event" autocomplete="off" [required]="true"/>
        </div>
        <div class='parent' style="white-space: nowrap;">
          <div class="form-group form-button" style="float: left;">
            <input type="submit" name="calculate" class="calculator-button" value="Calculate" [disabled]="loading"/>
          </div>
          <div class="form-group form-button" style="float: right;">
            <input type="button" name="terminate" class="calculator-button" (click)="terminateWorker()" value="Terminate" [disabled]="!working"/>
          </div>
        </div>
      </form>
    </div>
    <app-results [calculationResults]="calculationResults"></app-results>
    <span *ngIf="errorMessage"><p style="color:red; font-weight: bolder">Exception:</p>{{errorMessage}}</span>
  </div>
  <app-loader *ngIf="loading"></app-loader>
</div>
