<div class="calculator-container">
  <div class="calculator-content backdrop-blur">
    <div class="calculator-form">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="form-group">
          <input #cityName type="text" class="calculator-control" formControlName="cityName" placeholder="City name or coordinates" autocomplete="off" [required]="true"/>
        </div>
        <div class="form-group">
          <input #number type="number" class="calculator-control" formControlName="number" placeholder="Number of events" autocomplete="off" [required]="true"/>
        </div>
        <div class="form-group">
          <input #radius type="number" class="calculator-control" formControlName="radius" placeholder="Radius of event" autocomplete="off" [required]="true"/>
        </div>
        <div class='parent' style="white-space: nowrap;">
          <div class="form-group form-button" style="float: left;">
            <input type="submit" name="calculate" class="calculator-button" value="Calculate"/>
          </div>
          <div class="form-group form-button" style="float: right;">
            <input type="button" name="terminate" class="calculator-button" (click)="terminate()" value="Terminate" [disabled]="!working"/>
          </div>
        </div>
      </form>
      <span *ngIf="errorMessage">{{errorMessage}}</span>
    </div>
  </div>
  <app-loader *ngIf="loading"></app-loader>
</div>
