.place-query-container {
  position: absolute;
  left: 4em;
}

.place-query-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  overflow: hidden;
  align-items: center;
}

.place-query-control {
  background: transparent;
  width: 100%;
  height: 35px;
  display: block;
  border: 1px solid #999;;
  border-radius: 10px;
  padding: 6px 30px;
  box-sizing: border-box;
}

select:invalid {
  color: #999 !important;
}
