<div class="place-query-container backdrop-blur">
  <form class="place-query-form" [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-element" style="min-width: 10rem; width: 10rem;">
      <select #queryType [required]="true" class="place-query-control" formControlName="queryType">
<!--        <option value="" [disabled]="true" [selected]="true" [hidden]="true">Select query type</option>-->
        <option value="q" [selected]="true">Free search</option>
        <option value="structured">Structured</option>
      </select>
    </div>
    <div *ngIf="queryType.value === 'structured'; then structuredSearch; else freeSearch"> </div>
<!--    <div class="form-element">-->
      <input type="submit" name="find" class="place-query-button" value="Find"/>
<!--    </div>-->
    <ng-template #freeSearch>
      <div class="form-element" >
        <input #placeName type="text" class="place-query-control" formControlName="placeName" placeholder="Place name" autocomplete="off" [required]="false" />
      </div>
    </ng-template>

    <ng-template #structuredSearch>
      <div class="form-element">
        <input #countryName type="text" class="place-query-control" formControlName="countryName" placeholder="Country name" autocomplete="off" [required]="false"/>
      </div>
      <div class="form-element" >
        <input #stateName type="text" class="place-query-control" formControlName="stateName" placeholder="State name" autocomplete="off" [required]="false"/>
      </div>
      <div class="form-element" >
        <input #countyName type="text" class="place-query-control" formControlName="countyName" placeholder="County name" autocomplete="off" [required]="false"/>
      </div>
      <div class="form-element">
        <input #cityName type="text" class="place-query-control" formControlName="cityName" placeholder="City name" autocomplete="off" [required]="false"/>
      </div>
    </ng-template>
  </form>
</div>
