.no-place-found {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5em;
}

.table-container {
  max-height: 15rem;
  overflow-x: scroll;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgba(255, 255, 255, .50);
  cursor: pointer;
}

.place-select-button {
  float: right;
  height: 30px;
  min-width: 5rem;
  border: 1px;
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.2);
  cursor: pointer;
}

.place-select-button:hover {
  background: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-color: rgba(128, 128, 128);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .place-select-button {
    margin-right: 0rem;
    min-width: 3rem;
  }
  .mat-mdc-cell {
    padding-left: 8px;
    padding-right: 8px;
  }
}
