.no-place-found {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5em;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgba(255, 255, 255, .50);
  cursor: pointer;
}
