/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

* {
  font-family: Raleway, sans-serif !important;
}

.backdrop-blur {
  background-color: rgba(255, 255, 255, .65);
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}

/* if backdrop support: transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(6x)) or (backdrop-filter: blur(6px))) {
  .backdrop-blur {
    -webkit-backdrop-filter: blur(6px);
    background: transparent;
    backdrop-filter: blur(6px);
  }
}
